#background {
    background-image: url(images/final_fantasy_background.jpg);
    background-size: 1920px 1920px;
    background-repeat: no-repeat;
    background-position: center;
}

#Blank-Box {
    position: relative;
    width: 1280px;
    height: 720px;
    background-color: black;
    margin: 0 auto;
    transform: translateY(100px);
}

#player-box {
    width: 400px;
    height: 400px;
    transform: translate(180px, 50px);
    border-style: solid;
    border-width: 5px;
    border-color: white;
    box-sizing: border-box; 

}

#boss-box {
    width: 600px;
    height: 400px;
    transform: translate(620px, -350px); 
    border-style: solid;
    border-width: 5px;
    border-color: white;
    box-sizing: border-box; 

}

#text-box {
    position: relative;
    width: 600px;
    height: 200px;
    transform: translate(620px, -520px);
    border-style: solid;
    border-width: 5px;
    border-color: white;
    box-sizing: border-box; 
}

#action-box {
    width: 400px;
    height: 200px;
    transform: translate(180px, -320px); 
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    box-sizing: border-box; 
}

.option {
    margin: 10px;
    padding: 4px;
    transform: translate(-100px, 15px);
    font-family: "Verdana", sans-serif;
    font-size: 22px;
    color: white;
}

#HP-box {
    width: 120px;
    height: 120px;
    transform: translate(40px, -1150px); 
    border-style: solid;
    border-width: 5px;
    border-color: white;
    box-sizing: border-box; 

}

#Mana-box {
    width: 120px;
    height: 120px;
    transform: translate(40px, -1100px);
    border-style: solid;
    border-width: 5px;
    border-color: white;
    box-sizing: border-box; 

}

#health-bar {
    font-family: "Verdana", sans-serif;
    font-size: 22px;
    color: white;
    transform: none;
    padding: 10px;
}

#mana-bar {
    font-family: "Verdana", sans-serif;
    font-size: 22px;
    color: white;
    transform: none;
    padding: 10px;
}

#your-action,
#boss-action,
#statues-action {
    position: absolute;
    left: 20px;
    width: 560px;
    font-family: "Verdana", sans-serif;
    font-size: 22px;
    color: white;
}

#your-action { top: 20px; }
#boss-action { top: 60px; }
#statues-action { top: 100px; }

#title-box {
   background-color: Blue;
   color: white;
   width: 560px;
   height: 100px;
   font-family: "Verdana", sans-serif;
   font-size: 52px;
   transform: translate(360px, 100px);
   border-color: grey;
   border-style: solid;
   border-width: 10px;
   display: flex;
   justify-content: center; /* Centers horizontally */
   align-items: center;
    
}

#start-box {
   background-color: Blue;
   color: white;
   width: 300px;
   height: 200px;
   transform: translate(480px, 300px);
   border-color: grey;
   border-style: solid;
   border-width: 10px;

}

.select-option {
    margin: 10px;
    padding: 4px;
    font-family: "Verdana", sans-serif;
    font-size: 24px;
    color: white;
}

#start {
    transform: translate(100px, 20px);
}

#manual {
    transform: translate(90px, 60px);
}

a {
    color: white;  /* or whatever color you want */
    text-decoration: none;
}

#monkidle-box {
    position: absolute;
    transform: translate(-280px, 60px);
    left: 620px;
    top: 50px;
    width: 400px;
    height: 400px;
    background-image: url('Gdidle.png');
    background-size: cover;
    background-repeat: no-repeat;
    scale: 1.5;
}

#monkattack-box {
    position: absolute;
    transform: translate(-280px, 60px);
    left: 620px;
    top: 50px;
    width: 400px;
    height: 400px;
    background-image: url('Gdattack.png');
    background-size: cover;
    background-repeat: no-repeat;
    scale: 1.5;
}

#monkfaint-box {
    position: absolute;
    transform: translate(-280px, 60px);
    left: 620px;
    top: 50px;
    width: 400px;
    height: 400px;
    background-image: url('Gdfsinted.png');
    background-size: cover;
    background-repeat: no-repeat;
    scale: 1.5;
}

#monkdrink-box {
    position: absolute;
    transform: translate(-280px, 60px);
    left: 620px;
    top: 50px;
    width: 400px;
    height: 400px;
    background-image: url('Gddrink.png');
    background-size: cover;
    background-repeat: no-repeat;
    scale: 1.5;
}

#monkitem-box {
    position: absolute;
    transform: translate(-280px, 60px);
    left: 620px;
    top: 50px;
    width: 400px;
    height: 400px;
    background-image: url('Gdeat.png');
    background-size: cover;
    background-repeat: no-repeat;
    scale: 1.5;
}

#monkvictory-box {
    position: absolute;
    transform: translate(-280px, 60px);
    left: 620px;
    top: 50px;
    width: 400px;
    height: 400px;
    background-image: url('Gdvictory.png');
    background-size: cover;
    background-repeat: no-repeat;
    scale: 1.5;
}

#monkmagic-box {
    position: absolute;
    transform: translate(-280px, 60px);
    left: 620px;
    top: 50px;
    width: 400px;
    height: 400px;
    background-image: url('Gdmagic.png');
    background-size: cover;
    background-repeat: no-repeat;
    scale: 1.5;
}

#environmentoutside {
    position: absolute;
    transform: translate(-230px, 70px);
    left: 620px;
    top: 50px;
    width: 700px;
    height: 400px;
    background-image: url('pixelation_environments_game_art_design.png');
    background-size: cover;
    background-repeat: no-repeat;
    scale: 1.5;
}

#story-box {
    width: 600px;
    height: 100px;
    transform: translate(320px, 500px);
    background-color: black;
    color: white;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    box-sizing: border-box; 

}

#story-text {
    transform: translate(470px, 400px);
    font-size: 16px;
}

#next-page1 {
    transform: translate(570px, 400px);
    font-size: 24px;
}

#environmenthallway {
    position: absolute;
    transform: translate(-230px, 70px);
    left: 620px;
    top: 50px;
    width: 700px;
    height: 400px;
    background-image: url('pixelation_environments_game_hallway.png');
    background-size: cover;
    background-repeat: no-repeat;
    scale: 1.5;
}

#story-text2 {
    transform: translate(340px, 400px);
    font-size: 14px;
}

#slime-character {
    position: absolute;
    transform: translate(-150px, 60px);
    left: 620px;
    top: 50px;
    width: 400px;
    height: 400px;
    background-image: url('Slimebossfront.png');
    background-size: cover;
    background-repeat: no-repeat;
    scale: 1.5;
}

#slime-box {
    position: absolute;
    transform: translate(100px, 50px);
    left: 620px;
    top: 50px;
    width: 400px;
    height: 400px;
    background-image: url('Slimebossfront.png');
    background-size: cover;
    background-repeat: no-repeat;
    scale: 1.5;
}